@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Libre+Franklin:wght@400;700&display=swap");

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-container {
  margin-top: 6em;
}

.round-image {
  width: 62vw;
  height: 62vw;

  border-radius: 50%;
  border: 2px solid #a82542;
  overflow: hidden;
}

.round-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.person-container p {
  text-align: center;
  font-size: 32px;
  font-family: Gwendolyn;
  font-weight: 700;
  line-height: 90%;
  margin: 1em 0;
}

@media only screen and (min-width: 875px) {
  .contact {
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  .person-container p {
    font-size: 48px;
  }
  .round-image {
    width: 42vw;
    height: 42vw;
    max-width: 26em;
    max-height: 26em;
  }

  .person-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 1.1em;
  }
  .contact-container {
    position: relative;
    top: -5em;
  }
}

@media only screen and (min-width: 875px) {
  h2 {
    font-size: 64px;
  }

  .contact {
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  .person-container p {
    font-size: 64px;
  }
  .round-image {
    width: 20em;
    height: 20em;
  }
  .person-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 1.1em;
  }
  .contact-container {
    position: relative;
    top: -5em;
  }
}

@media only screen and (min-width: 1440px) {
  .contact-container {
    position: relative;
    top: -10em;
  }
}
