@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Libre+Franklin:wght@400;700&display=swap");

.count-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;

  /* padding: 0 3.4vw 0 3.4vw;*/
}
.container-count-down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.pink-block {
  width: 5em;
  height: 5em;
  border-radius: 20px;
  background: #cc93a4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pink-line {
  background: #a82542;
  width: 0.2em;
  height: 2.7em;
}
p {
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}
@media only screen and (min-width: 875px) {
  .container-count-down {
    position: relative;
    top: -8em;
  }
  .count-down {
    width: 22.6em;
  }
  .ribbon-count-down {
    left: 11em;
  }
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1440px) {
  .container-count-down {
    top: -15em;
  }
  .pink-block {
    width: 12em;
    height: 12em;
  }
  p {
    font-size: 54px;
  }
  .pink-line {
    width: 0.2em;
    height: 7em;
  }
  .count-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    width: 47em;
    transform: scale(0.75);
  }
}
