@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Libre+Franklin:wght@400;700&display=swap");

.Organizational-matters h3,
p {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
}
h3 {
  display: inline-flex;
  padding-top: 16px;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  text-align: center;
}
.Organizational-matters p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 18px */
  margin-bottom: 1.2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.Organizational-matters--box {
  border: 1px solid rgba(168, 37, 66, 0.5);
  box-shadow: 0px 0px 1px 0.5px rgba(0, 0, 0, 0.5);
  margin: 1.6em;
}

.image-with-text-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.2em;
  margin: 1.2em 0 1.2em 0;
}

.image-with-text-container h3 {
  padding: 0;
}

.small-image-with-text-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  margin: 1.2em 0 1.2em 0;
  justify-content: left;
  font-size: 18px;
  text-align: center;
  gap: 1.2em;
}
.small-image-with-text-container p {
  padding: 0;
  margin: 0;
  text-align: center;
}
.small-image-with-text-container {
  margin: 0.5em;
}
@media only screen and (min-width: 1000px) {
  .Organizational-matters {
    max-width: 80vw;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1200px) {
  .our-story p {
    font-size: 20px;
  }
  .our-story {
    width: 34em;
  }
  h4 {
    font-size: 64;
  }
  h2 {
    font-size: 64;
  }

  .image-container img {
    width: 7.8em;
  }

  .Organizational-matters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr; /* Pierwszy wiersz automatycznej wysokości, drugi wiersz zajmuje resztę dostępnej przestrzeni */
    gap: 10px; /* Dostosuj odstęp między divami */
  }

  .large-item {
    grid-column: 2;
    justify-self: center; /* Rozciągnij div na dwie kolumny, zaczynając od drugiej */
  }
  .Organizational-matters--box {
    max-width: 20em;
    justify-self: center;
  }
}
