@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Libre+Franklin:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.h2-our-story {
  margin-bottom: 0;
}
.our-story-container {
  margin-top: 3em;
}
.our-story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
  padding: 0.6em;
  /*width: 18.75em;*/
  margin: 0 auto;
  padding-top: 0em;
}
.our-story-images {
  margin-top: 3em;
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5.2em;
  width: 360px;
}

.image-container {
  display: flex;
}

.image-container img {
  width: 5em;
  opacity: 20%;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 1.25);
}

.image-container:nth-child(even) {
  justify-content: flex-end;
}

.image-container:nth-child(odd) {
  justify-content: flex-start;
}

h4 {
  font-size: 40px;
  font-family: Gwendolyn;
}
.our-story p {
  font-size: 20px;
  width: 16.3em;
}
.our-story {
  max-width: 34em;
}
@media only screen and (min-width: 875px) {
  .ribbon-our-story {
    left: 8em;
  }
  .our-story p {
    font-size: 20px;
  }
  .our-story {
    width: 34em;
  }
  h4 {
    font-size: 64;
    font-family: Gwendolyn;
  }
  h2 {
    font-size: 64;
  }

  .image-container img {
    width: 7.8em;
  }
  .our-story-images {
    width: 40.7em;
    gap: 0em;
  }
  .our-story-container {
    position: relative;
    top: -3em;
  }
  .our-story p {
    width: 34em;
  }

  .our-story {
    max-width: auto;
  }
}

@media only screen and (min-width: 1440px) {
  .our-story p {
    font-size: 20px;
  }
  .our-story p {
    max-width: auto;
  }
  .our-story-images {
    margin-top: 3em;
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0em;
    width: 60em;
  }
  .our-story-container {
    top: -10em;
  }
}
