@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Libre+Franklin:wght@400;700&display=swap");

.h2-our-story {
  margin-bottom: 0;
}

.our-story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
  padding: 0.6em;
  width: 18.75em;
  margin: 0 auto;
}
.our-story-images {
  margin-top: 3em;
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5.2em;
  width: 18.75em;
}

.image-container {
  display: flex;
}

.image-container img {
  width: 5em;
  opacity: 20%;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 1.25);
}

.image-container:nth-child(even) {
  justify-content: flex-end;
}

.image-container:nth-child(odd) {
  justify-content: flex-start;
}

h4 {
  font-size: 40px;
}
.our-story p {
  font-size: 20px;
}

@media only screen and (min-width: 834px) {
  .our-story p {
    font-size: 20px;
  }
  .our-story {
    width: 34em;
  }
  h4 {
    font-size: 64;
  }
  h2 {
    font-size: 64;
  }

  .image-container img {
    width: 7.8em;
  }
  .our-story-images {
    width: 40.7em;
    gap: 0em;
  }
}

@media only screen and (min-width: 1440px) {
  .our-story-images {
    margin-top: 3em;
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0em;
    width: 60em;
  }
}
